/target
Cargo.lock

*.sw?
Cargo.toml
META-INF/
build/
src/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore gradle build files
build.gradle
settings.gradle

# Ignore generated project configuration
.project_configuration

